.nav{
    grid-area: n;
    background: burlywood;
    padding: 20px;
}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a.activeLink{
    color: gold;
}
.friendsTitle{
    font-size: 2.5rem;
    display: block;
    margin: 100px auto 0 auto;
    text-align: center;
}
.friend{
    font-size: 1.5rem;
    margin-top: 85px;
    display: inline-block;
    width: 31%;
    text-align: center;
}